#home .masthead {
}
#home .masthead .column {
  position: relative;
}

#home .landing-wrapper {
  background: transparent;
  height: 550px;
  padding: 0;
}

/*--------------
    Footer
---------------*/
#home .footer.segment {
  background-color: #000000;
  padding: 3rem 0rem;
}

/*******************************
          Responsive
*******************************/

/* Mobile Only */
/*@media only screen and (max-width : 768px) {
  #home h1 {
    font-size: 1.5em;
  }
  #home .masthead.segment .information {
    margin-left: 170px;
  }

  #home .masthead.segment .image {
    width: 170px;
  }

  #home .masthead.segment .button {
    font-size: 1rem;
  }

  #home .overview .divided.grid .header .icon {
    font-size: 1.5em;
  }

  #home .overview .divided.grid .header + p {
    min-height: 0px;
  }

  #home .masthead.segment .column {
    font-size: 0.7rem;
  }

  #home .masthead.segment .column p {
    display: none;
  }

  #home .selection.list .right.floated {
    display: none;
  }
}*/
